[submodule "src/modules/mavlink/mavlink"]
	path = src/modules/mavlink/mavlink
	url = https://gitee.com/px4-autopilot_v1-14/mavlink.git
	branch = master
[submodule "src/drivers/uavcan/libuavcan"]
	path = src/drivers/uavcan/libuavcan
	url = https://gitee.com/px4-autopilot_v1-14/libuavcan.git
	branch = main
[submodule "Tools/simulation/jmavsim/jMAVSim"]
	path = Tools/simulation/jmavsim/jMAVSim
	url = https://gitee.com/px4-autopilot_v1-14/jMAVSim.git
	branch = main
[submodule "Tools/simulation/gazebo-classic/sitl_gazebo-classic"]
	path = Tools/simulation/gazebo-classic/sitl_gazebo-classic
	url = https://gitee.com/robin_shaun/sitl_gazebo.git
	branch = main
[submodule "src/drivers/gps/devices"]
	path = src/drivers/gps/devices
	url = https://gitee.com/px4-autopilot_v1-14/PX4-GPSDrivers.git
	branch = main
[submodule "platforms/nuttx/NuttX/nuttx"]
	path = platforms/nuttx/NuttX/nuttx
	url = https://gitee.com/px4-autopilot_v1-14/NuttX.git
	branch = px4_firmware_nuttx-10.3.0+
[submodule "platforms/nuttx/NuttX/apps"]
	path = platforms/nuttx/NuttX/apps
	url = https://gitee.com/px4-autopilot_v1-14/NuttX-apps.git
	branch = px4_firmware_nuttx-10.3.0+
[submodule "Tools/flightgear_bridge"]
	path = Tools/simulation/flightgear/flightgear_bridge
	url = https://gitee.com/px4-autopilot_v1-14/PX4-FlightGear-Bridge.git
[submodule "Tools/simulation/jsbsim/jsbsim_bridge"]
	path = Tools/simulation/jsbsim/jsbsim_bridge
	url = https://gitee.com/px4-autopilot_v1-14/px4-jsbsim-bridge.git
[submodule "src/drivers/cyphal/libcanard"]
	path = src/drivers/cyphal/libcanard
	url = https://gitee.com/px4-autopilot_v1-14/libcanard.git
[submodule "src/drivers/cyphal/public_regulated_data_types"]
	path = src/drivers/cyphal/public_regulated_data_types
	url = https://gitee.com/px4-autopilot_v1-14/public_regulated_data_types.git
[submodule "src/drivers/cyphal/legacy_data_types"]
	path = src/drivers/cyphal/legacy_data_types
	url = https://gitee.com/px4-autopilot_v1-14/PX4-public_regulated_data_types.git
	branch = legacy
[submodule "src/lib/crypto/monocypher"]
	path = src/lib/crypto/monocypher
	url = https://gitee.com/px4-autopilot_v1-14/Monocypher.git
	branch = px4
[submodule "src/lib/events/libevents"]
	path = src/lib/events/libevents
	url = https://gitee.com/px4-autopilot_v1-14/libevents.git
	branch = main
[submodule "src/lib/crypto/libtomcrypt"]
	path = src/lib/crypto/libtomcrypt
	url = https://gitee.com/px4-autopilot_v1-14/libtomcrypt.git
	branch = px4
[submodule "src/lib/crypto/libtommath"]
	path = src/lib/crypto/libtommath
	url = https://gitee.com/px4-autopilot_v1-14/libtommath.git
	branch = px4
[submodule "src/modules/uxrce_dds_client/Micro-XRCE-DDS-Client"]
	path = src/modules/uxrce_dds_client/Micro-XRCE-DDS-Client
	url = https://gitee.com/px4-autopilot_v1-14/Micro-XRCE-DDS-Client.git
	branch = px4
[submodule "src/lib/cdrstream/cyclonedds"]
	path = src/lib/cdrstream/cyclonedds
	url = https://gitee.com/agiros/cyclonedds.git
[submodule "src/lib/cdrstream/rosidl"]
	path = src/lib/cdrstream/rosidl
	url = https://gitee.com/src-openeuler/rosidl.git
[submodule "src/modules/zenoh/zenoh-pico"]
	path = src/modules/zenoh/zenoh-pico
	url = https://gitee.com/px4pilot/zenoh-pico.git
	branch = pr-zubf-werror-fix
[submodule "src/lib/heatshrink/heatshrink"]
	path = src/lib/heatshrink/heatshrink
	url = https://gitee.com/JunY_2002/heatshrink.git
	branch = px4
[submodule "Tools/simulation/gz"]
	path = Tools/simulation/gz
	url = https://gitee.com/JunY_2002/PX4-gazebo-models.git
	branch = main
[submodule "boards/modalai/voxl2/libfc-sensor-api"]
	path = boards/modalai/voxl2/libfc-sensor-api
	url = https://gitlab.com/voxl-public/voxl-sdk/core-libs/libfc-sensor-api.git
